API_ID=5099517
API_HASH=3bffbb2ff1f15e5812fbeb8ab22d0f66
BOT_TOKEN=your_bot_token
SESSIONS_DIR=sessions

# پروکسی (اختیاری)
PROXY_ENABLED=false
PROXY_TYPE=socks5
PROXY_HOST=127.0.0.1
PROXY_PORT=1080
PROXY_USERNAME=
PROXY_PASSWORD=
